.skin-header-user{
    .navbar-nav > .user-menu > .dropdown-menu > li.user-header > a:hover,
    .skin-header-user .navbar-nav > .user-menu > .dropdown-menu > li.user-header > a:active {
      background-color: #3c8dbc;
    }
    .navbar-nav > .user-menu > .dropdown-menu > li.user-header > a > img {
      z-index: 5;
      height: 90px;
      width: 90px;
      border: 3px solid;
      border-color: transparent;
      border-color: rgba(255, 255, 255, 0.2);
    }
}
